# Step 1:

We import the packages we are going to use. Each package is a tool within the Python ecosystem that someone has created that allow us to do something new without coding it ourselves (such as image analysis).

Here, we are going to load an Excel CSV file and analyse it:

Pandas is our dataframe package, numpy is our mathematical package

In [2]:
import pandas
import numpy

Example 1: we are going to load a dataframe into python and display it

In [5]:
# Load the csv file

df = pandas.read_csv("Data/Example.csv")

# Show first two rows
df.head(2)

# Notice that we didn't create a variable for the first 2 rows, so it doesn't exist in our variable explorer in the bottom two rows.

  Country   Population (Millions)
2    Iran                   83.99
3   Syria                   17.50

In [6]:
# Let's look at variable assignmet and displaying the dataframe.

LastTwoRows = df.tail(2)

# This doesn't print as we are assigning a variable. But we can display it this way:

LastTwoRows

  Country   Population (Millions)
2    Iran                   83.99
3   Syria                   17.50

Example 2: We are going to filter a dataframe

In [9]:
# We only want data for Turkey

TurkeyRow = df.loc[df['Country'] == "Turkey"]

TurkeyRow

  Country   Population (Millions)
0  Turkey                   84.34